steps:
  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      reportDirectory: $(System.DefaultWorkingDirectory)/coverage
      summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml
    displayName: "Publish coverage"
    condition: and(not(variables.NO_COVERAGE), succeededOrFailed())
  - script: yarn codecov -t $(CODECOV_TOKEN)
    displayName: "Publish coverage to Codecov"
