trigger:
  - master
  - release-*
  - chore/azure-pipelines

variables:
  AST_COMPARE: true
  ENABLE_TEST_RESULTS: true
  ENABLE_CODE_COVERAGE: "" # only enable coverage on the fastest job

jobs:
  - job: Dev_Lint
    displayName: Dev Lint on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/jobs/dev-lint.yml
    condition: eq(variables['Build.DefinitionName'], 'Lint')

  - job: Dev_Test_Windows
    displayName: Dev Test on Windows Node v10
    pool:
      vmImage: vs2017-win2016
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/jobs/dev-test.yml
    condition: eq(variables['Build.DefinitionName'], 'Windows')

  - job: Dev_Test_macOS
    displayName: Dev Test on macOS Node v10
    pool:
      vmImage: macos-10.13
    variables:
      node_version: 10
      ENABLE_CODE_COVERAGE: true
    steps:
      - template: .azure-pipelines/jobs/dev-test.yml
    condition: eq(variables['Build.DefinitionName'], 'macOS')

  - job: Dev_Test_Linux
    displayName: Dev Test on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/jobs/dev-test.yml
    condition: eq(variables['Build.DefinitionName'], 'Linux')

  - job: Prod_Build_Linux
    displayName: Prod Build on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/jobs/prod-build.yml
    condition: eq(variables['Build.DefinitionName'], 'Production')

  - job: Prod_Lint_Linux
    dependsOn: Prod_Build_Linux
    displayName: Prod Lint on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/jobs/prod-lint.yml
    condition: eq(variables['Build.DefinitionName'], 'Production')

  - job: Prod_Test_Linux
    dependsOn: Prod_Build_Linux
    displayName: Prod Test on Linux
    pool:
      vmImage: "Ubuntu 16.04"
    strategy:
      matrix:
        Node_v4:
          node_version: 4
          ENABLE_TEST_RESULTS: "" # jest-junit requires node v6+
        Node_v10:
          node_version: 10
        Node_v10_standalone:
          node_version: 10
          TEST_STANDALONE: true
    steps:
      - template: .azure-pipelines/jobs/prod-test.yml
    condition: eq(variables['Build.DefinitionName'], 'Production')
