trigger:
  - master
  - release-*
  - chore/azure-pipelines

variables:
  AST_COMPARE: true

jobs:
  - job: Lint_Linux_Node_v10
    displayName: Lint on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/lint.yml
    condition: eq(Build.DefinitionName, "Lint")

  - job: Dev_Test_Windows_Node_v10
    displayName: Dev Tests on Windows Node v10
    pool:
      vmImage: vs2017-win2016
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/dev.yml
    condition: eq(Build.DefinitionName, "Windows")

  - job: Dev_Test_macOS_Node_v10
    displayName: Dev Tests on macOS Node v10
    pool:
      vmImage: macos-10.13
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/dev.yml
    condition: eq(Build.DefinitionName, "macOS")

  - job: Dev_Test_Linux_Node_v10
    displayName: Dev Tests on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/dev.yml
    condition: eq(Build.DefinitionName, "Linux")

  - job: Build_Dist_Linux_Node_v10
    displayName: Build Dist on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/build.yml
    condition: eq(Build.DefinitionName, "Production")

  - job: Lint_Dist_Linux_Node_v10
    dependsOn: Build_Dist_Linux_Node_v10
    displayName: Lint Dist on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      node_version: 10
    steps:
      - template: .azure-pipelines/lint-dist.yml
    condition: eq(Build.DefinitionName, "Production")

  - job: Prod_Test_Linux
    dependsOn: Build_Dist_Linux_Node_v10
    displayName: Prod Tests on Linux
    pool:
      vmImage: "Ubuntu 16.04"
    strategy:
      matrix:
        Node_v4:
          node_version: 4
        Node_v10:
          node_version: 10
        Node_v10_standalone:
          node_version: 10
          TEST_STANDALONE: true
    steps:
      - template: .azure-pipelines/prod.yml
    condition: eq(Build.DefinitionName, "Production")
